html {
    height: 100%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    background-color: cadetblue;
}

/*
.floatToRight, .floatToLeft {
    padding: 20px;
    font-size: large;
    margin: 10px;
    border: 20px;
}
*/

.muzzfight {    
    font-family: 'Josefin Sans', sans-serif;
}

#backgroundText {
    top: -50px;
    left: -100px;
    right: -500px;
    bottom: -500px;
    position: fixed;
    transform: rotate(20deg);
    z-index: -100;
    background-color: cornsilk;
    padding: 2em;
}

#backgroundText:after {
    content: "MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight";
    font-size: 4em;
    font-family: "Josefin Sans", sans-serif;
    opacity: 0.8;
}

.floatToRight {    
    float: right;
}

.floatToLeft {
    float: left;
}

.clearLeft {
    clear: left;
}

.clearRight {
    clear: right;
}

.w100mh100 {
    width: 100px;
    max-height: 100px;
}

.margin05 {
    margin: 0.5em;
}

.characterImage {
    width: 200px;
    max-height: 200px;
}

#wrapper{
    max-width: 980px;
    margin: auto;
}

.bolshe {
    font-weight: 1000;
}

.textLog {
    overflow: auto;
    height: 300px;
}
.textLog ul {
    padding: 0 0.5em;
    margin: 0.2em;
    list-style-type: none;    
}
/*Вид самого текста внутри лога*/
.textLog li{
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    border-bottom: gray 1px solid;
    padding: 2px 0;
}
.textLog li:last-child {
    border-bottom: none;
}

.letThereBeSpace {
    margin-bottom: 1.5em;
}

.hcentered {
    margin-left: auto;
    margin-right: auto;
}

aside {
    float: left;
    margin-right: 2em;
}

article {
    float: left;
    min-width: 50%;
    background: linear-gradient(white, lightgray);
    border-radius: 3px;
    border: 1px solid #a8a8a8;
    padding: 0.3em;
    color: #333;
}

.articleTitle{
    font-size: 25px;
    font-weight: bolder;
}

.articleContent{

}

.messages, #messages {
    position: fixed;
    bottom: 0.2em;
    width: 90%;
    margin-left: 5%;
    animation: messageFadeOut 5s 3s forwards; 
}
@keyframes messageFadeOut {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
}

.battleWrapper {
    background: white;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 6px 6px 0 0;
    position: relative;
}
.battleWrapper .textLog {
    height: 22ex;
}
/* names of the battlers */
#names{
    font-size: larger;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
    border-radius: inherit;
    width: 100%;
    text-align: center;
    padding: 0.7em 0 0.5em;
    animation: namesAnim 0.3s 0s linear infinite;
}
@keyframes namesAnim {
    0% {background: linear-gradient(to right, red, orange, red);}
    25% {background: linear-gradient(to right, orange, red, orange, red, orange);}
    50% {background: linear-gradient(to right, orange, red, orange)}
    75% {background: linear-gradient(to right, red, orange, red, orange, red);}
    100% {background: linear-gradient(to right, red, orange, red);}
}

#names :nth-child(2) {
    font-style: italic;
    font-weight: 1000;
}
.name {
    font-size: xx-large;
    font-family: 'Josefin Sans';
    display: inline-block;
    padding: 0 0.5em;
    position: relative;
}
.name:first-child {
    top: -0.3em;
}
.name:last-child {
    top: 0.3em;
}

.hp{
    color: red;
    font-size:larger;
    padding: 0.3em;
    font-weight: bold;
}
.hp:first-child {
    padding-left: 20%;
}
.hp:last-child {
    padding-right: 20%;
}

.battleAbility {
    max-width: 8em;
    min-width: 20%;
    border-radius: 3px;
    background-color: gainsboro;
    border: 1px solid gray;
    position: relative;
    float: left;
    margin: 1em;
    height: 8em;
    word-wrap:break-word;
    color: rgb(20,20,20);
    text-shadow: whitesmoke 0px 0px 2px;
    background-size: cover;
}
.battleAbility:hover {
    top: -2px;
    box-shadow: 0 1px 1px grey;
}

@media(max-width: 860px) {
    .mainPageTable {
        max-width: 48%;
    }
    .battleAbility {
        max-width: 25%;
    }
}
@media(min-width: 861px) {
    .mainPageTable {
        min-width: 48%;
    }
}