.floatToRight .floatToLeft {
    padding: 20px;
    font-size: large;
    margin: 10px;
    border: 20px;
    color: gold;
}

.floatToRight {    
    float: right;
    margin-right: 80px;
}

.floatToLeft {
    float: left;
    margin-left: 80px;
}

.floatToRight *{
    background: transparent;
}

.clearLeft {
    clear: left;
}

.bigLabelOnTop{
    /*font-size: xx-large;*/
    font-style: normal;
    font-size: 54px;
    margin-top: 40px;
    margin-left: 27px;
}

body{
    background-size: 100%;
    font-family: Atavyros;
}

#wrapper{
    max-width: 980px;
    margin: auto;
}

aside {
    float: left;
    width: 250px;
}

section {
    margin-left: 280px;
    padding-bottom: 50px;
}

.bolshe {
    font-weight: 1000;
}

.textLog{
    overflow: auto;
}
/*Вид самого текста внутри лога*/
.textLog *{
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

/* names of the battlers */
#names{
    font-size: larger;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.name{
    font-size: xx-large;
    font-family: Norasi;
}

.hp{
    color: red;
}
.letThereBeSpace {
    margin-bottom: 1.5em;
}

.hcentered {
    margin-left: auto;
    margin-right: auto;
}


.articleTitle{
    font-size: 25px;
}

.articleContent{

}