html {
    height: 100%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    background-color: cadetblue;
}

/*
.floatToRight, .floatToLeft {
    padding: 20px;
    font-size: large;
    margin: 10px;
    border: 20px;
}
*/

.muzzfight {    
    font-family: 'Josefin Sans', sans-serif;
}

#backgroundText {
    top: -50px;
    left: -100px;
    right: -500px;
    bottom: -500px;
    position: fixed;
    transform: rotate(20deg);
    z-index: -100;
    background-color: cornsilk;
    padding: 2em;
}

#backgroundText:after {
    content: "MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight MuzzFight";
    font-size: 4em;
    font-family: "Josefin Sans", sans-serif;
    opacity: 0.8;
}

.floatToRight {    
    float: right;
}

.floatToLeft {
    float: left;
}

.clearLeft {
    clear: left;
}

.clearRight {
    clear: right;
}

#wrapper{
    max-width: 980px;
    margin: auto;
}

aside {
    float: left;
    width: 250px;
}

section {
    margin-left: 280px;
    padding-bottom: 50px;
}

.bolshe {
    font-weight: 1000;
}

.textLog {
    overflow: auto;
    height: 300px;
}
.textLog ul {
    padding: 0 0.5em;
    margin: 0.2em;
    list-style-type: none;    
}
/*Вид самого текста внутри лога*/
.textLog li{
    font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
    border-bottom: gray 1px solid;
    padding: 2px 0;
}
.textLog li:last-child {
    border-bottom: none;
}

/* names of the battlers */
#names{
    font-size: larger;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.name{
    font-size: xx-large;
    font-family: Norasi;
}

.hp{
    color: red;
}
.letThereBeSpace {
    margin-bottom: 1.5em;
}

.hcentered {
    margin-left: auto;
    margin-right: auto;
}

.articleTitle{
    font-size: 25px;
}

.articleContent{

}